html,
body,
div,
span,
p,
h1,
h2,
h3,
b,
i,
a,
em,
input,
form,
img,
ul,
li,
dl,
dt {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  outline: none;
  box-sizing: border-box;
}
ul,
li,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: inline-block;
}
.wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
}
.wrapper ul {
  position: absolute;
  width: 100%;
  transition: all 1s;
}
.wrapper ul li {
  width: 100%;
  height: 100vh;
  display: block;
  background: #04133c;
  overflow: hidden;
}
.crik {
  position: fixed;
  right: 36px;
  top: 50%;
  transform: translateY(-50%);
}
.crik span {
  display: block;
  height: 15px;
  width: 15px;
  background: white;
  border-radius: 50%;
  margin-top: 18px;
}
.crik .blue {
  background:yellow;
}
.active .one_1 {
  animation: one_1 1.5s;
}
.wrapper ul li:nth-child(1){
	background: url(../img/one-bg.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
	overflow: hidden;
}
.wrapper ul li:nth-child(1)>.text{
	width: 420px;
	height: 250px;
	background: url(../img/one_txt.png) no-repeat center center;
	position: absolute;
	top: -250px;
	left: calc(50% - 210px);
	opacity: 0;
	z-index: 99;
}
@-webkit-keyframes txt{
	from{opacity: 0;}
	to{
		top: 0px;
		opacity: 1;
	}
}
@-webkit-keyframes txt_1{
	from{
		top: 0px;
		opacity: 1;
		}
	to{
		top: -250px;
		opacity: 0;
	}
}
.wrapper ul li:nth-child(1)>.text2{
	width: 365px;
	height: 44px;
	background: url(../img/one-bg2.png) no-repeat;
	background-size: 100%;
	position: absolute;
	top: 230px;
	left: 100px;
	opacity: 0;
	color: white;
	font-size: 23px;
	line-height: 25px;
	text-align: center;
	font-family: "微软雅黑";
	padding-top: 5px;
	z-index: 99;
}
.wrapper ul li:nth-child(1)>.text2>span{
	color: yellow;
	font-size: 36px;
}
@-webkit-keyframes txt2{
	from{opacity: 0;}
	to{
		left: calc(50% - 182px);
		opacity: 1;
	}
}
@-webkit-keyframes txt2_1{
	from{
		left: calc(50% - 182px);
		opacity: 1;
	}
	to{
		left: 100px;
		opacity: 0;
	}
}
.wrapper ul li:nth-child(1)>.text3{
	width: 222px;
	height: 38px;
	background: yellow;
	position: absolute;
	top: 280px;
	right: 100px;
	opacity: 0;
	color: black;
	font-size: 20px;
	line-height: 38px;
	text-align: center;
	font-family: "微软雅黑";
	z-index: 99;
}
@-webkit-keyframes txt3{
	from{opacity: 0;}
	to{
		right: calc(50% - 111px);
		opacity: 1;
	}
}
@-webkit-keyframes txt3_1{
	from{
		right: calc(50% - 111px);
		opacity: 1;
	}
	to{
		right: 100px;
		opacity: 0;
	}
}
.wrapper ul li:nth-child(1)>.feiji{
	width: 620px;
	height: 180px;
	background: url(../img/one_feiji.png) no-repeat;
	background-size: 100%;
	position: absolute;
	top: 120px;
	right: 150px;
	transform: scale(0);
	z-index: 99;
}
@-webkit-keyframes feiji{
	from{opacity: 0;transform: scale(0);}
	to{
		top: 320px;
		right: 200px;
		transform: scale(1);
		opacity: 1;
	}
}
@-webkit-keyframes feiji_1{
	from{
		top: 320px;
		right: 200px;
		transform: scale(1);
		opacity: 1;
	}
	to{
		top: 120px;
		right: 150px;
		transform: scale(0);
		opacity: 0;
	}
}
.wrapper ul li:nth-child(1)>.map{
	width: 820px;
	height: 660px;
	background: url(../img/p1_ditu.png) no-repeat;
	background-size: 100%;
	position: absolute;
	bottom:-160px;
	left: calc(50% - 410px);
}
.wrapper ul li:nth-child(2){
	position: relative;
}
.wrapper ul li:nth-child(2)>.img_list{
	width:100%;
	height: 99px;
}
.wrapper ul li:nth-child(2)>.img_list>img{
	height: 100%;
}
.wrapper ul li:nth-child(2)>.tit_1{
	 width: 180px;
	 height: 50px;
	 background: url(../img/tit_big.png) no-repeat;
	 background-size: 100%;
	 position: absolute;
	 top: 133px;
	 	left: -100px;
		opacity: 0;
	 line-height: 30px;
	 color: black;
	 font-size: 16px;
	 font-family: "微软雅黑";
	 text-align: center;
}
@-webkit-keyframes tit_1{
	from{
		left: -100px;
		opacity: 0;
	}
	to{
		left: 106px;
		opacity: 1;
	}
}
@-webkit-keyframes tit_1_2{
	from{
		left: 106px;
		opacity: 1;
	}
	to{
		left: -100px;
		opacity: 0;
	}
}
.wrapper ul li:nth-child(2)>.tit_2{
	 width: 220px;
	 height:50px;
	 background: url(../img/tit_big.png) no-repeat;
	 background-size: 100%;
	 position: absolute;
	 top: 165px;
	 left: -150px;
		opacity: 0;
	 line-height: 50px;
	 color: black;
	 font-size: 22px;
	 font-family: "微软雅黑";
	 text-align: center;
}
@-webkit-keyframes tit_2{
	from{
		left: -150px;
		opacity: 0;
	}
	to{
		left: 36px;
		opacity: 1;
	}
}
@-webkit-keyframes tit_2_2{
	from{
		left: 36px;
		opacity: 1;
	}
	to{
		left: -150px;
		opacity: 0;
	}
}
.wrapper ul li:nth-child(2)>.rotate{
	width: 850px;
	height: 175px;
	margin: 120px auto 0;
}
@-webkit-keyframes rotate{
	from{
		display: none;
		opacity: 0;
	}
	to{
		display: block;
		opacity: 1;
	}
}
@-webkit-keyframes rotate_2{
	from{
		display: block;
		opacity: 1;
	}
	to{
		display: none;
		opacity: 0;
	}
}
.wrapper ul li:nth-child(2)>.rotate>.rotateNode{
	width: 170px;
	height: 175px;
	float: left;
	transform-style: preserve-3d;
}
.wrapper ul li:nth-child(2)>.rotate>.rotateNode:hover{
	animation: 2s rotateNode linear both;
}
@keyframes rotateNode{
	0%{transform: rotateX(0);}
	5%{opacity: 0;}
	30%{opacity:1;transform:perspective(1000px) rotateX(20deg);}
	50%{transform:perspective(1000px) rotateX(-20deg);}	
	75%{transform:perspective(1000px) rotateX(20deg);}
	100%{transform:perspective(10500px) rotateX(0deg);}
}
/*-webkit-@keyframes rotateNode{
	0%{transform: rotateX(0);}
	55%{transform: rotateX(360deg);}
	70%{transform: rotateX(380deg);}
	85%{transform: rotateX(340deg);}	
	100%{transform: rotateX(380deg);}
}*/
.wrapper ul li:nth-child(2)>.rotate>.rotateNode:nth-child(1){
	background: url(../img/p2-pic01.png) no-repeat;
	background-size: 100%;
}
.wrapper ul li:nth-child(2)>.rotate>.rotateNode:nth-child(2){
	background: url(../img/p2-pic2.png) no-repeat;
	background-size: 100%;
}
.wrapper ul li:nth-child(2)>.rotate>.rotateNode:nth-child(3){
	background: url(../img/p2-pic3.png) no-repeat;
	background-size: 100%;
}
.wrapper ul li:nth-child(2)>.rotate>.rotateNode:nth-child(4){
	background: url(../img/p2-pic4.png) no-repeat;
	background-size: 100%;
}
.wrapper ul li:nth-child(2)>.rotate>.rotateNode:nth-child(5){
	background: url(../img/p2-pic5.png) no-repeat;
	background-size: 100%;
}
.wrapper ul li:nth-child(2)>.rotate_txt{
	width: 850px;
	height: 40px;
	margin: 0 auto;
}
.wrapper ul li:nth-child(2)>.rotate_txt>p{
	width: 170px;
	height: 40px;
	float: left;
	line-height: 40px;
	font-size: 15px;
	text-align: center;
	color: #46bab7;
	font-family: "微软雅黑";
}
.wrapper ul li:nth-child(2)>.gang{
	width: 850px;
	height: 1px;
	margin: auto;
}
.wrapper ul li:nth-child(2)>.gang>.gangN{
	width: 170px;
	height: 1px;
	float: left;
}
.wrapper ul li:nth-child(2)>.gang>.gangN>p{
	width: 30px;
	height: 1px;
	margin: auto;
	background:#46bab7;
}
.wrapper ul li:nth-child(2)>.msg{
	width: 850px;
	height: 200px;
	margin:30px auto;
	position: relative;
}
.wrapper ul li:nth-child(2)>.msg>.msg_txt{
	width: 510px;
	height:200px;
	position: absolute;
	top:150px;
	opacity: 0;
	left: 0;
	line-height:46px;
	font-size: 15px;
	color: white;
	font-family: "微软雅黑";
}
@-webkit-keyframes msg_txt{
	from{
		top:150px;
		opacity: 0;
	}
	to{
		top:0px;
		opacity: 1;
	}
}
@-webkit-keyframes msg_txt_2{
	from{
		top:0px;
		opacity: 1;
	}
	to{
		top:150px;
		opacity: 0;
	}
}
.wrapper ul li:nth-child(2)>.msg>.msg_img{
	width: 300px;
	height: 240px;
	background:url(../img/p2-pic6.png) no-repeat;
	background-size: 100%;
	position: absolute;
	top: -20px;
	right: 0;
	padding-top: 20px;
}
.wrapper ul li:nth-child(2)>.msg>.msg_img>p{
	text-align: center;
	color: #b8bd10;
	font-family: "微软雅黑";
	font-size: 14px;
	margin-bottom: 80px;
}
.wrapper ul li:nth-child(2)>.msg>.msg_img>span{
	text-align: right;
	color: #b8bd10;
	font-family: "微软雅黑";
	font-size: 14px;
	display: block;
}
.wrapper ul li:nth-child(3){
	position: relative;
}
.wrapper ul li:nth-child(3)>.tit_1{
	 width: 180px;
	 height: 50px;
	 background: url(../img/tit_big.png) no-repeat;
	 background-size: 100%;
	 position: absolute;
	 top: 35px;
	 left: 100px;
	 opacity: 0;
	 line-height: 30px;
	 color: black;
	 font-size: 16px;
	 font-family: "微软雅黑";
	 text-align: center;
}

.wrapper ul li:nth-child(3)>.tit_2{
	 width: 220px;
	 height:50px;
	 background: url(../img/tit_big.png) no-repeat;
	 background-size: 100%;
	 position: absolute;
	 top: 65px;
	 left: -150px;
		opacity: 0;
	 line-height: 50px;
	 color: black;
	 font-size: 22px;
	 font-family: "微软雅黑";
	 text-align: center;
}
.wrapper ul li:nth-child(3)>.modul_1{
	width: 246px;
  height: 560px;
  position: absolute;
  top:0px;
	opacity: 0;
  left: 390px;
  background: url(../img/p3-bg.png) no-repeat bottom center;
  background-size: cover;
  padding: 50px 55px 26px 26px;
  font-size: 12px;
  font-family: "微软雅黑";
  color: black;
	z-index: 9;
}
@-webkit-keyframes modul_1{
	from{
		top:-300px;
		opacity: 0;
	}
	to{
		top:150px;
		opacity: 1;
	}
}
@-webkit-keyframes modul_1_2{
	from{
		top:150px;
		opacity: 1;
	}
	to{
		top:-300px;
		opacity: 0;
	}
}
.wrapper ul li:nth-child(3)>.modul_1>span{
	font-size: 16px;
}
.wrapper ul li:nth-child(3)>.modul_1>p{
	margin: 15px 0;
	line-height: 20px;
}
.wrapper ul li:nth-child(3)>.modul_2{
	width: 300px;
	height: 490px;
	background: url(../img/p3-bg2.png) no-repeat;
	background-size: 100%;
	position: absolute;
	top:200px;
	left: 300px;
}
@-webkit-keyframes modul_2{
	from{
		left: 300px;
		opacity: 0;
	}
	to{
		left: 100px;
		opacity: 1;
	}
}
@-webkit-keyframes modul_2_2{
	from{
		left: 100px;
		opacity: 1;
	}
	to{
		left: 300px;
		opacity: 0;
	}
}
.wrapper ul li:nth-child(3)>.modul_3{
	width: 500px;
	height: 460px;
	position: absolute;
	right: 140px;
	top: 160px;
	color: white;
	font-size: 14px;
	line-height: 30px;
	font-family: "微软雅黑";
	opacity: 0;
}
@-webkit-keyframes modul_3{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@-webkit-keyframes modul_3_2{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}
.wrapper ul li:nth-child(3)>.modul_3>span{
	font-size: 16px;
}
.wrapper ul li:nth-child(3)>.modul_3>p{
	margin-bottom: 30px;
}
.wrapper ul li:nth-child(3)>.modul_1>img:nth-child(6){
	position: absolute;
	top: -120px;
	left: -30px;
	opacity: 0;
}
@-webkit-keyframes y_1{
	0% {
	    -webkit-transform: translateX(-10%);
	    transform: translateX(-10%);
	    opacity: 0;
	}
	50% {
	    opacity: 0.8;
	}
	100% {
	    -webkit-transform: translateX(20%);
	    transform: translateX(20%);
	    opacity: 0;
	}
}
@-webkit-keyframes y_1_2{
	from{
		opacity: 1;
		left: 20px;
	}
	to{
		opacity: 0;
		left: -30px;
	}
}
.wrapper ul li:nth-child(3)>.modul_1>img:nth-child(7){
	position: absolute;
	top: 270px;
	 opacity: 0;
}
.wrapper ul li:nth-child(3)>.modul_1>img:nth-child(8){
	position: absolute;
	top: 380px;
	opacity: 0;
}

.wrapper ul li:nth-child(4)>.tit_1{
	 width: 180px;
	 height: 50px;
	 background: url(../img/tit_big.png) no-repeat;
	 background-size: 100%;
	 position: absolute;
	 top: 35px;
	 left: 100px;
	 opacity: 0;
	 line-height: 30px;
	 color: black;
	 font-size: 16px;
	 font-family: "微软雅黑";
	 text-align: center;
}
.wrapper ul li:nth-child(4){
	position: relative;
}
.wrapper ul li:nth-child(4)>.tit_2{
	 width: 220px;
	 height:50px;
	 background: url(../img/tit_big.png) no-repeat;
	 background-size: 100%;
	 position: absolute;
	 top: 65px;
	 left: -150px;
		opacity: 0;
	 line-height: 50px;
	 color: black;
	 font-size: 22px;
	 font-family: "微软雅黑";
	 text-align: center;
}
.wrapper ul li:nth-child(4)>.pic{
	width: 816px;
	height: 416px;
	position: absolute;
	top: 100px;
	left:calc(50% - 408px);
	z-index: 9;
}
.wrapper ul li:nth-child(4)>.pic>.picNode{
	width: 185px;
	height: 416px;
	float: left;
	margin-left: 20px;
	transform-style: preserve-3d;
}
/*.wrapper ul li:nth-child(4)>.pic>.picNode>img{
	width: 100%;
	height: 100%;
}*/
.wrapper ul li:nth-child(4)>.pic>.picNode:nth-child(1){
	margin-left:0px;
}
.wrapper ul li:nth-child(4)>.bg{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.wrapper ul li:nth-child(4)>.bg>img{
	width: 100%;
	height: 100%;
	z-index: 0;
}
.wrapper ul li:nth-child(4)>.foot{
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 20px;
	background: url(../img/pianyuan4.png) no-repeat;
	background-size: 100% 100%;
	z-index: 9;
}
.wrapper ul li:nth-child(4)>.foot>div{
	float: left;
	border-radius: 50%;
	font-family: "微软雅黑";
	text-align: center;
	font-weight: bold;
}
.wrapper ul li:nth-child(4)>.foot>div:nth-child(1){
	width: 50px;
	height: 50px;
	background: #00eda7;
	margin-left: 70px;
	margin-top: 30px;
	color: black;
	font-size: 14px;
	line-height: 50px;
}
.wrapper ul li:nth-child(4)>.foot>div:nth-child(2){
	width: 65px;
	height: 65px;
	background: yellow;
	margin-left: 265px;
	margin-top: 50px;
	color: black;
	font-size: 16px;
	line-height: 65px;
}
.wrapper ul li:nth-child(4)>.foot>div:nth-child(3){
	width: 60px;
	height: 60px;
	background: #00eda7;
	margin-left: 120px;
	color: black;
	font-size: 14px;
	line-height: 60px;
}
.wrapper ul li:nth-child(4)>.foot>div:nth-child(4){
	width: 55px;
	height: 55px;
	background: yellow;
	margin-left: 115px;
	margin-top: 50px;
	color: black;
	font-size: 16px;
	line-height: 55px;
}
.wrapper ul li:nth-child(4)>.foot>div:nth-child(5){
	width: 60px;
	height: 60px;
	background: #00eda7;
	margin-left: 88px;
	margin-top: 10px;
	color: black;
	font-size: 14px;
	line-height: 60px;
}
.wrapper ul li:nth-child(4)>.foot>div:nth-child(6){
	width: 65px;
	height: 65px;
	background: yellow;
	margin-left: 115px;
	margin-top: 50px;
	color: black;
	font-size: 16px;
	line-height: 65px;
}


@keyframes rotatePic{
	0%{transform: rotateX(0);}
	5%{opacity: 0;}
	30%{opacity:1;transform:perspective(1000px) rotateY(40deg);}
	50%{transform:perspective(1000px) rotateY(-30deg);}	
	75%{transform:perspective(1000px) rotateY(20deg);}
	100%{transform:perspective(10500px) rotateY(0deg);}
}
@keyframes opa{
	0%{opacity: 1;}
	50%{opacity: 0.2;}
	100%{opacity: 1;}
}
@keyframes picOpa{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes picOpa_2{
	0%{opacity: 1;}
	100%{opacity: 0;}
}


.wrapper ul li:nth-child(5){
	position: relative;
}
.wrapper ul li:nth-child(5)>.text_1{
	width: 180px;
	height: 70px;
	position: absolute;
	top: 60px;
	left: calc(50% - 93px);
	background: url(../img/p5-tibet.png) no-repeat;
	background-size: 100%;
}
@keyframes text_1{
	0%{
		opacity: 0;
		top:-20px;
		}
	100%{
		opacity: 1;
		top:60px;
		}
}
@keyframes text_1_2{
	0%{
		opacity: 1;
		top:60px;
		}
	100%{
		opacity: 0;
		top:-20px;
		}
}

.wrapper ul li:nth-child(5)>.text_2{
	width: 380px;
	height: 70px;
	position: absolute;
	top: 145px;
	left: calc(50% - 190px);
}

.wrapper ul li:nth-child(5)>.text_2>img{
	display: block;
	float: left;
}

.wrapper ul li:nth-child(5)>.text_3{
	width: 560px;
	height: 70px;
	position: absolute;
	top: 200px;
	left: calc(50% - 280px);
	background: url(../img/p5-shi.png) no-repeat;
	background-size: 100%;
}
.wrapper ul li:nth-child(5)>.text_4{
	width: 300px;
	height: 40px;
	position: absolute;
	top: 260px;
	left: calc(50% - 150px);
	line-height: 20px;
	font-size: 14px;
	color: white;
	font-family: "微软雅黑";
}
.wrapper ul li:nth-child(5)>.images{
	width: 1080px;
	height: 302px;
	position: absolute;
	top: 320px;
	left: calc(50% - 540px);
}
.wrapper ul li:nth-child(5)>.images>div{
	float: left;
	margin-left: 22px;
	width: 134px;
	height: 134px;
	margin-top: 30px;
	opacity: 0;
}
.wrapper ul li:nth-child(5)>.images>div>img{
	width: 100%;
	height: 100%;
}
.wrapper ul li:nth-child(5)>.images>div:nth-child(1),.wrapper ul li:nth-child(5)>.images>div:nth-child(8){
	margin-left: 0;
}

.wrapper ul li:nth-child(6){
	position: relative;
}
.wrapper ul li:nth-child(6)>.text_1{
	width: 158px;
	height: 65px;
	position: absolute;
	top: 60px;
	left: calc(50% - 79px);
	background: url(../img/p6-gift.png) no-repeat;
	background-size: 100%;
}
.wrapper ul li:nth-child(6)>.text_2{
	width: 166px;
	height: 42px;
	position: absolute;
	top: 140px;
	left: calc(50% - 83px);
	background: url(../img/p6-zhuanshu.png) no-repeat;
	background-size: 100%;
}
@keyframes text_5{
	0%{
		opacity: 0;
		top:200px;
		}
	100%{
		opacity: 1;
		top:145px;
		}
}
@keyframes text_5_2{
	0%{
		opacity: 1;
		top:145px;
		}
	100%{
		opacity: 0;
		top:200px;
		}
}
.wrapper ul li:nth-child(6)>.text_3{
	width: 300px;
	height: 40px;
	position: absolute;
	top: 200px;
	left: calc(50% - 150px);
	line-height: 25px;
	font-size: 14px;
	color: white;
	font-family: "微软雅黑";
}
@keyframes text_6{
	0%{
		opacity: 0;
		top:280px;
		}
	100%{
		opacity: 1;
		top:200px;
		}
}
@keyframes text_6_2{
	0%{
		opacity: 1;
		top:200px;
		}
	100%{
		opacity: 0;
		top:280px;
		}
}
.wrapper ul li:nth-child(6)>.bg_6{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../img/p6-bg.png) no-repeat bottom center;
	background-size:cover;
}
.wrapper ul li:nth-child(6)>.gift{
	padding-top: 30px;
	width: 1146px;
	height: 300px;
	position: absolute;
	top: 300px;
	left: calc(50% - 573px);
}
.wrapper ul li:nth-child(6)>.gift>.giftNode{
	width: 25%;
	height: 300px;
	float: left;
}
.wrapper ul li:nth-child(6)>.gift>.giftNode>.img{
	height: 200px;
}
.wrapper ul li:nth-child(6)>.gift>.giftNode>p:nth-child(2){
	font-size: 30px;
	color: yellow;
	font-family: "微软雅黑";
	text-align: center;
	line-height: 40px;
}
.wrapper ul li:nth-child(6)>.gift>.giftNode>p:nth-child(3){
	font-size: 22px;
	color: white;
	font-family: "微软雅黑";
	text-align: center;
	line-height: 34px;
	transform-style: preserve-3d;
}
@keyframes gift{
	0%{transform: rotateX(0);}
	5%{opacity: 0;}
	30%{opacity:1;transform:perspective(1000px) rotateX(30deg);}
	50%{transform:perspective(1000px) rotateX(-40deg);}	
	75%{transform:perspective(1000px) rotateX(50deg);}
	100%{transform:perspective(10500px) rotateX(0deg);}
}

.wrapper ul li:nth-child(7){
	position: relative;
}
.wrapper ul li:nth-child(7)>.text_1{
	width: 362px;
	height: 70px;
	position: absolute;
	top: 60px;
	left: calc(50% - 181px);
	background: url(../img/p7-con.png) no-repeat;
	background-size: 100%;
}
.wrapper ul li:nth-child(7)>.text_2{
	width: 190px;
	height: 50px;
	position: absolute;
	top: 140px;
	left: calc(50% - 95px);
	background: url(../img/p7-lianxi.png) no-repeat;
	background-size: 100%;
}
@keyframes text_7{
	0%{
		opacity: 0;
		top:280px;
		}
	100%{
		opacity: 1;
		top:140px;
		}
}
@keyframes text_7_2{
	0%{
		opacity: 1;
		top:140px;
		}
	100%{
		opacity: 0;
		top:280px;
		}
}
.wrapper ul li:nth-child(7)>.text_3{
	width: 300px;
	height: 40px;
	position: absolute;
	top: 200px;
	left: calc(50% - 150px);
	line-height: 25px;
	font-size: 14px;
	color: white;
	font-family: "微软雅黑";
}

@keyframes text_8{
	0%{
		opacity: 0;
		top:320px;
		}
	100%{
		opacity: 1;
		top:200px;
		}
}
@keyframes text_8_2{
	0%{
		opacity: 1;
		top:200px;
		}
	100%{
		opacity: 0;
		top:320px;
		}
}
.wrapper ul li:nth-child(7)>.map{
	width: 418px;
	height: 400px;
	position: absolute;
	top: 270px;
	left: 100px;
}
.wrapper ul li:nth-child(7)>.map>div:nth-child(1){
	top: 0px;
	left: 200px;
	position: absolute;
}
.wrapper ul li:nth-child(7)>.map>div:nth-child(2){
	top: 70px;
	left:20px;
	position: absolute;
}
.wrapper ul li:nth-child(7)>.map>div:nth-child(3){
	top: 90px;
	left:250px;
	position: absolute;
}
.wrapper ul li:nth-child(7)>.map>div:nth-child(4){
	top: 190px;
	left:10px;
	position: absolute;
}
.wrapper ul li:nth-child(7)>.map>div:nth-child(5){
	top: 190px;
	left:240px;
	position: absolute;
}

.wrapper ul li:nth-child(7)>.map>div:nth-child(6){
	top: 250px;
	left:0;
	position: absolute;
}
.wrapper ul li:nth-child(7)>.map>div:nth-child(7){
	top: 250px;
	left:280px;
	position: absolute;
}
.wrapper ul li:nth-child(7)>.map>div:nth-child(8){
	top: 350px;
	left:10px;
	position: absolute;
}
.wrapper ul li:nth-child(7)>.map>div:nth-child(9){
	top: 350px;
	left:280px;
	position: absolute;
}
.wrapper ul li:nth-child(7)>.dress{
	padding-top: 50px;
	width: 500px;
	height: 300px;
	position: absolute;
	top: 320px;
	right: 150px;
	font-size: 14px;
	color: white;
	line-height: 30px;
	font-family: "微软雅黑";
}



